.header{
   

    .header-image{
        background-image: url(/assets/images/image-banner.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; 
        min-height: 20vmin;
        max-height: 20vmax;
        width: 100vw;
    }

}