/*color scheme*/

$white: #fff;
$dark-jungle: #1b1f21;
$outer-space: #444749;
$old-silver: #828485;

/*font family*/
$poppins: "Poppins", sans-serif;


/*font weight*/
$extra-light: 200;
$regular: 400;
$bold: 700;

/*font size*/
$large: 25px;
$medium: 16px;
$small: 14px;
$x-small: 10px;